<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div class="mt-container">
            <div class="login-box">
                <div class="title-box">
                    <h1>To Do List</h1>
                </div>
                <div class="login-form">
                    <div class="input-name-box">
                        <span>이름</span>
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="input-id-box">
                        <span>아이디</span>
                        <input type="text" placeholder="ID">
                    </div>
                    <div class="input-password-box">
                        <span>비밀번호</span>
                        <input type="password" placeholder="Password">
                    </div>
                </div>
                <div class="buttons-box">
                    <button class="signup-btn">가입하기</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/signup.js"></script>
</body>

</html>