<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signin.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div class="mt-container">
            <div class="login-box">
                <div class="title-box">
                    <h1>To Do List</h1>
                </div>
                <form action="/todo/signin" method="post">
	                <div class="login-form">
	                    <div class="input-id-box">
	                        <span>아이디</span>
	                        <input type="text" placeholder="ID" name="username">
	                    </div>
	                    <div class="input-password-box">
	                        <span>비밀번호</span>
	                        <input type="password" placeholder="password" name="password">
	                    </div>
	                </div>
	                <div class="buttons-box">
	                    <button type="button" class="signin-btn">로그인</button>
	                    <a class="naver-login" href="/oauth2/authorization/naver">네이버 로그인</a>
	                    <a class="kakao-login" href="/oauth2/authorization/kakao">카카오 로그인</a>
	                    <button type="button" class="signup-btn">회원가입</button>
	                </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/static/js/signin.js"></script>
</body>

</html>