<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ToDoList</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/todolist.css">
	<script src="https://kit.fontawesome.com/bb961630db.js" crossorigin="anonymous"></script>
</head>

<body>
	<div id="container">
		<div class="mt-container">
			<div class="title-box">
				<h1>To Do List</h1>
			</div>
			<div class="add-list">
				<i class="fa-solid fa-square-plus"></i>
				<input type="text" class="add-todo" placeholder="할 일 추가">
			</div>
		</div>
		<div class="list-content-box">
			<ul class="list-table">
			</ul>

		</div>

	</div>
	<script src="/static/js/todolist.js"></script>
</body>

</html>