@charset "UTF-8";

#container {
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 1000px;
}

.board-list {
	display : flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.board-list-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
}

.board-list-table {
	border: 1px solid black;
	border-collapse: collapse;
}

.board-items {
	cursor: pointer;
}

.board-items:hover {
	background-color: #fafafa;
}

td {
	border: 1px solid black;
	width: 200px;
}