@charset "UTF-8";

#container {
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 1000px;
}

.board-list > button {
	position: absolute;
	bottom: -30px;
	right: 93px;
}

.board-list {
	position: relative;
	display : flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.board-list-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
}

.board-list-page div {
	cursor: pointer;
}

.board-list-table {
	border: 1px solid black;
	border-collapse: collapse;
}

.board-items {
	cursor: pointer;
}

.page-box {
	position: relative;
	display: flex;
	justify-content: center;
	width: 200px;
}

.prev {
	cursor: pointer;
	display: none;
	position: absolute;
	left: 0;
} 
.next {
	cursor: pointer;
	display: none;	
	position: absolute;
	right: 0;
}

.block {
	display: block;
}

.page-box > a {
	padding: 0 10px;
}

.board-items:hover {
	background-color: #dadada;
}

td {
	border: 1px solid black;
	width: 200px;
}